<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="ProductContext" connectionString="Data Source=DESKTOP-455FKFS\SQLEXPRESS;Initial Catalog=ProductApps; User ID=TestLogin;Password=Password123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>